#chatbase {
    margin: auto;
    width: 90%;
    height: 24em;
}

#userlist {
    float: left;
    width: 10em;
    height: 24em;
}

#chatarea {
    width: 100%;
    height: 21em;
}

#messagebar {
    height: 3em;
}